// Colors
$text   : rgb(50,50,50);
$primary: rgb(225,165,075);

// Fonts
@font-face {
    font-family: Mermaid;
    src: url(../../assets/fonts/mermaid.ttf);
}

.contenedor {
    padding: 0 30px;
}

h1 {
    color: $text;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Mermaid', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 60px 0 30px;
}

h2 {
    color: $text;
    font-size: 18px;
    font-weight: bold;
}

p {
    color: gray;
    font-size: 15px;
    line-height: 25px;
    margin: 0 0 30px;
}

.fechas {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .fecha {

        .thumbnail {
            display: block;
            background-color: $primary;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin-bottom: 8px;
            width: 75px;
            height: 75px;
        }

        .title {
            display: block;
            color: gray;
            font-size: 8px;
            text-align: center;
            margin: 0;
        }
    }
}