// Colors
$text   : rgb(50,50,50);
$primary: rgb(225,165,075);

// Fonts
@font-face {
    font-family: Mermaid;
    src: url(../../assets/fonts/mermaid.ttf);
}

//  Header

#header {
    .volver {
        color: $text;
        opacity: .5;
    }
}

// Headings

h1 {
    color: $text;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 35px;
    margin: 100px 0 30px;
}

h2 {
    color: $text;
    font-size: 18px;
    font-weight: bold;
}

p {
    color: gray;
    font-size: 15px;
    line-height: 25px;
    margin: 0 0 30px;
}

// Listado de sentencias

.sentencias {
    list-style: none;
    padding: 0;
    margin: 0;

    .sentencia {
        color: gray;
        border-bottom: 1px solid rgb(235,235,235);
        padding: 10px 5px;
        margin: 0;

        &:last-child {
            padding-bottom: 0;
            border-bottom: none;
            margin-bottom: 30px;
        }
    }
}