// Colores
$text        : rgb(50,50,50);
$primary     : rgb(225,165,075);
$darkprimary : rgb(175,115,025);
$lightprimary: rgb(255,195,105);

// Dimensiones
$mobile: 468px;
$tablet: 768px;

.footer {
    background: white;
    padding: 0 0 25px;
    position: relative;
    z-index: 25;
    width: 100%;
    
    .advertencia {
        font-size: 10px;
        text-align: center;
        line-height: 15px;
        padding: 35px;
        margin: 0 auto;
        width: 100%;
        max-width: 450px;
        opacity: .75;

        &.negro {
            color: $text;
        }

        &.dorado {
            color: $primary;
        }
    }

    .logos {
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            width: auto;
            height: 25px;
            margin-right: 10px;
    
            &:last-child {
                margin: 0;
            }
        }
    }
}

// Mobile First

@media only screen and (min-width: $mobile) {
    .footer {
        padding: 0 0 25px;

        .logo {
            margin-right: 25px;
            height: 35px;
        }
    }
}