<div class="footer">
    <div class="advertencia" [ngClass]="color" style="display: none">
        SententiApp selecciona sentencias de autores latinos traducidas al español e inglés sobre temas de actualidad como ejemplos de la pervivencia y de la transformación del pensamiento clásico en la sociedad occidental. Léelas, da tu opinión y utilízalas para tus argumentos.
    </div>
    <div class="logos">
        <img class="logo" src="assets/img/footer/logo1.svg" alt="">
        <img class="logo" src="assets/img/footer/logo2.jpg" alt="">
        <img class="logo" src="assets/img/footer/logo3.jpg" alt="">
        <img class="logo" src="assets/img/footer/logo4.jpg" alt="">
    </div>
</div>