<ion-content fullscreen="true">

  <div class="page-wrapper">

    <div>

      <!-- Cabecera -->
      <section id="header">
        <a class="volver" [routerLink]="['/informacion', id]">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
      </section>

      <!-- Listado de sentencias -->
      <div class="contenedor">
        <h1>{{ fecha.etiqueta }}</h1>
        <h2>Listado de sentencias</h2>
        <ul class="sentencias">
          <li class="sentencia" *ngFor="let fecha of fechas">{{ fecha.extractolatino }}</li>
        </ul>
      </div>
      
      <!-- Otras fechas -->
      <app-otras-fechas></app-otras-fechas>
    </div>

    <!-- Footer -->
    <section id="footer">
      <p class="copyright">&copy; SententiApp</p>
    </section>

  </div>

</ion-content>
