<ion-content>

  <div class="page-wrapper">

    <div> <!-- No quitar, es para que la cabecera y los resultados aparezcan siempre pegados al top de la página -->

      <!-- Cabecera -->
      <section id="header">
        <a class="volver" [routerLink]="['/home']">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
      </section>

      <!-- Resultados -->
      <section id="resultados">
        <div class="contenedor">
          <p>Resultados encontrados para <span class="secuencia">{{secuencia}}</span></p>
          <a class="fecha" [routerLink]="['/informacion', fecha.id]" *ngFor="let fecha of fechasEncontradas">
            <div class="imagen" [style.backgroundImage]="'url(http://sententiapp.iatext.ulpgc.es' + fecha.imagen + ')'"></div>
            <p class="titulo">{{fecha.etiqueta}}</p>
            <i class="icono fa fa-angle-right" aria-hidden="true"></i>
          </a>
        </div>
      </section>
    </div>

    <!-- Footer -->
    <section id="footer">
      <a class="copyright" href="https://iatext.ulpgc.es/">&copy; IATEXT</a>
    </section>
  </div>
</ion-content>
