<ion-content fullscreen="true">
  <section id="informacion">

    <app-bottombar [color]="'negro'"></app-bottombar>

    <!-- ──────────────── -->
    <!--     CABECERA     -->
    <!-- ──────────────── -->

    <div class="cabecera" [style.backgroundImage]="'url(' + ( fecha.imagen | imagenDefecto ) + ')'">
      
      <!-- Volver atrás -->
      <a class="volver" (click)="volverAtras()">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </a>

      <img class="pagina-rota" src="assets/img/pagina-rota.png" alt="">
    </div>

    <!-- ────────────── -->
    <!--     CUERPO     -->
    <!-- ────────────── -->

    <div class="contenedor">

      <h1 class="titulo">{{ fecha.etiqueta }}</h1>
      <p class="descripcion">{{ fecha.descripcion | descripcionDefecto }}</p>

      <app-sentencias [sentencias]="sentencias"></app-sentencias>

      <app-otras-fechas [id]="idFechaURL"></app-otras-fechas>

    </div>

    <!-- ────────────── -->
    <!--     FOOTER     -->
    <!-- ────────────── -->

    <img class="pagina-rota" src="assets/img/pagina-rota.png" alt="">
    
    <app-footer [color]="'negro'"></app-footer>
    
  </section>
</ion-content>
