<ion-content fullscreen="true">

  <!-- Cabecera -->
  <section id="header" [style.backgroundImage]="'url(http://sententiapp.iatext.ulpgc.es' + fecha.imagen + ')'">
    <a class="volver" [routerLink]="['/home']">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
    </a>
    <a class="ver-sentencias" [routerLink]="['/sentencias', fecha.id]">+</a>
  </section>

  <!-- Información -->
  <div class="contenedor">
    <h1>{{ fecha.etiqueta }}</h1>
    <h2>Introducción</h2>
    <p>{{ fecha.descripcion }}</p>
  </div>

  <!-- Otras fechas -->
  <app-otras-fechas></app-otras-fechas>

  <!-- Footer -->
  <section id="footer">
    <p class="copyright">&copy; SententiApp</p>
  </section>

</ion-content>
