@import './../../../global.scss';

// Otras fechas

.otras-fechas {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .fecha {

        .thumbnail1 {
            background-color: $primary;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border: 2px solid white;
            border-radius: 50%;
            margin-bottom: 8px;
            width: 100px;
            height: 100px;
        }

        .caption {
            display: block;
            color: $text;
            font-size: 10px;
            text-align: center;
            margin: 0;
        }
    }
}

.thumbnails {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .thumbnail {
        color: white;
        font-weight: bold;
        background-color: darkorange;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        margin: 0 5px 5px 0;
        width: 100%;

        &:last-child {
            margin-right: 0;
        }
    }
}

.captions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    .caption {
        flex-grow: 0;
        color: $text;
        font-size: 10px;
        text-align: center;
        margin: 0;
        width: 33.3%;
    }
}