@import './../../../global.scss';

.slider {

    .slide {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        text-decoration: none;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 2px;
        outline: none;
        padding: 10px;
        position: relative;
        height: 75px;
        cursor: pointer;

        .caption {
            color: white;
            font-size: 11px;
            font-family: 'Lato', sans-serif;
            text-align: left;
            line-height: 15px;
            position: relative;
            z-index: 25;
        }

        &::after {
            content: "";
            display: block;
            background: linear-gradient(transparent, rgba(0,0,0,.75));
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
        }
    }
}

// Mobile First

@media only screen and (min-width: 350px) {
    .slider .slide {
        height: 100px;
    }
}

@media only screen and (min-width: $mobile) {
    .slider .slide {
        height: 115px;
    }
}