<!-- Otras fechas -->
<div class="contenedor">
  <h2>Otras fechas</h2>
  <div class="otras-fechas">
    <div class="fecha" *ngFor="let otraFecha of otrasFechas; let i = index">
      <a [routerLink]="['/informacion', otraFecha.id]">
        <span class="thumbnail" [style.backgroundImage]="'url(' + otraFecha.imagen + ')'"></span>
      </a>
      <span class="caption">{{ otraFecha.titulo }}</span>
    </div>
  </div>
</div>

<div class="padre">
  <div class="hijo">1</div>
  <div class="hijo">2</div>
  <div class="hijo">3</div>
  <div class="hijo">4</div>
</div>