<ion-content>
  <div id="advertencia">
    <div class="fondo-blanco"></div>
    <img src="assets/img/logo.svg" alt="" class="logo">
    <span class="texto">
      {{ mensaje }}
    </span>
    <span class="notificacion">
      <span class="icono">
        <i class="exclamacion fas fa-exclamation-circle"></i>
      </span>
      <span class="texto">
        {{ aclaracion }}
      </span>
    </span>
    <a class="boton" (click)="aceptarCondiciones()">Entrar en SententiApp</a>
  </div>
</ion-content>
