<h2 *ngIf="sentencias.length">Sentencias</h2>

<div class="sentencia" *ngFor="let sentencia of sentencias; let i = index">

  <!-- Carrusel de extractos -->
  <ion-slides [options]="configuracion">
    <ion-slide class="extracto" *ngIf="sentencia.extractolatino.length">
      {{ sentencia.extractolatino }}
    </ion-slide>
    <ion-slide class="extracto" *ngIf="sentencia.extractoespanol.length">
      <span>{{ sentencia.extractoespanol }}&nbsp;<b class="idioma">[ es ]</b></span>
    </ion-slide>
    <ion-slide class="extracto" *ngIf="sentencia.extractoingles.length">
      <span>{{ sentencia.extractoingles }}&nbsp;<b class="idioma">[ en ]</b></span>
    </ion-slide>
  </ion-slides>

  <!-- Flechas -->
  <i class="flecha derecha   fas fa-angle-right" aria-hidden="true"></i>
  <i class="flecha izquierda fas fa-angle-left"  aria-hidden="true"></i>
    
  <!-- Footer -->
  <div class="footer">

    <!-- Autor -->
    <div class="autor">{{ sentencia.autor }}</div>
    <div class="iconos">

      <!-- Estados -->
      <div class="estados">
        <i class="icono far fa-smile"       *ngIf="sentencia.reaccion != 'Me gusta'   " (click)="cambiarReaccion  ( sentencia, 'Me gusta' )"></i>
        <i class="icono fas fa-smile"       *ngIf="sentencia.reaccion == 'Me gusta'   " (click)="eliminarFavorito ( sentencia )"></i>
        <i class="icono far fa-grin-hearts" *ngIf="sentencia.reaccion != 'Me encanta' " (click)="cambiarReaccion  ( sentencia, 'Me encanta' )"></i>
        <i class="icono fas fa-grin-hearts" *ngIf="sentencia.reaccion == 'Me encanta' " (click)="eliminarFavorito ( sentencia )"></i>
        <i class="icono far fa-grin-squint" *ngIf="sentencia.reaccion != 'Me divierte'" (click)="cambiarReaccion  ( sentencia, 'Me divierte' )"></i>
        <i class="icono fas fa-grin-squint" *ngIf="sentencia.reaccion == 'Me divierte'" (click)="eliminarFavorito ( sentencia )"></i>
        <i class="icono far fa-frown"       *ngIf="sentencia.reaccion != 'No me gusta'" (click)="cambiarReaccion  ( sentencia, 'No me gusta' )"></i>
        <i class="icono fas fa-frown"       *ngIf="sentencia.reaccion == 'No me gusta'" (click)="eliminarFavorito ( sentencia )"></i>
      </div>

      <!-- Compartir -->
      <i class="icono fa fa-paper-plane-o" aria-hidden="true" (click)="compartir( sentencia )"></i>
    </div>
  </div>
</div>
