<ion-content>
  <section id="favoritos">

    <!-- ────────────── -->
    <!--     CUERPO     -->
    <!-- ────────────── -->

    <div class="contenedor">

      <h1 class="titulo">Sentencias favoritas</h1>

      
      <!-- Listado de sentencias -->
      <div class="sentencias" *ngIf="servicioFavoritos.favoritos.length > 0">
        <app-sentencias [sentencias]="servicioFavoritos.favoritos"></app-sentencias>
      </div>

      <!-- Mensaje de notificación cuando no existen sentencias favoritas -->
      <div class="sin-favoritos" *ngIf="servicioFavoritos.favoritos.length === 0">
        No se ha encontrado ninguna sentencia
      </div>

    </div>

    <!-- ────────────── -->
    <!--     FOOTER     -->
    <!-- ────────────── -->

    <div>

      <img class="pagina-rota" src="assets/img/pagina-rota.png" alt="">
      <app-footer [color]="'negro'"></app-footer>

      <app-bottombar [color]="'negro'"></app-bottombar>

    </div>

  </section>
</ion-content>
