<ion-content>
  <section id="favoritos">

    <!-- ────────────── -->
    <!--     CUERPO     -->
    <!-- ────────────── -->

    <div class="contenedor">

      <h1 class="titulo">Sentencias favoritas</h1>
      
      <!-- Filtro de reacciones -->
      <ion-slides class="filtro negro" [options]="configuracion">
        <ion-slide class="item" *ngFor="let reaccion of reacciones; index as i" [ngClass]="{ 'seleccionado' : i == 0 }" (click)="cambiarReaccion( reaccion )">
          {{ reaccion }}
        </ion-slide>
      </ion-slides>

      <!-- Listado de sentencias -->
      <div class="favoritos" *ngIf="favoritos">
        <app-sentencias [sentencias]="favoritos" *ngIf="favoritos" (favoritoSeleccionado)="actualizarFavoritos( $event )"></app-sentencias>
      </div>

      <!-- Mensaje de notificación cuando no existen sentencias favoritas -->
      <div class="sin-favoritos" *ngIf="!favoritos">
        No se ha encontrado ninguna sentencia
      </div>

    </div>

    <!-- ────────────── -->
    <!--     FOOTER     -->
    <!-- ────────────── -->

    <div>

      <img class="pagina-rota" src="assets/img/pagina-rota.png" alt="">
      <app-footer [color]="'negro'"></app-footer>

      <app-bottombar [color]="'negro'"></app-bottombar>

    </div>

  </section>
</ion-content>
