@import './../../../global.scss';

// ─────────────── //
//     GENERAL     //
// ─────────────── //

.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

// ──────────────── //
//     BUSCADOR     //
// ──────────────── //

.buscador {
    position: relative;
    height: 75px;

    .icono {
        color: $text;
        font-size: 20px;
        position: absolute;
        top: 25px;
        right: 25px;
        opacity: .25;
    }
}

.formulario {
    display: flex;
    align-items: center;
    background: white;
    padding: 0 25px;
    position: absolute;
    top: -75px;
    z-index: 50;
    width: 100%;
    height: 75px;
    transition: .25s ease-in-out;

    .entrada {
        color: $text;
        font-size: 15px;
        padding: 10px 10px;
        border: 1px solid $text;
        outline: none;
        width: 100%;

        &.vacia {
            box-shadow: inset 0 0 1px 2px tomato;
        }
    }

    .boton {
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        border: 1px solid $text;
        width: 75px;
        height: 39px;
        transition: .25s ease-in-out;

        &:first-child {
            border-right: none;
        }

        &:last-child {
            border-left: none;
        }

        &:active {
            background: $primary;
        }
    }
}

@media only screen and (min-width: 360px) {
    .buscador .icono {
        font-size: 25px;
    }
}

// ──────────────── //
//     CARRUSEL     //
// ──────────────── //

.carrusel {
    display: flex;
    align-items: center;
    justify-content: center;

    .fecha {
        position: relative;

        .imagen {
            background-color: $primary;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border-radius: 50%;
            box-shadow: inset 0 0 2px white;
            width: 240px;
            height: 240px;
        }

        .titulo {
            color: $text;
            font-size: 30px;
            font-weight: bold;
            font-family: 'Playfair Display', serif;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 3px;
            line-height: 35px;
            position: absolute;
            left: 0;
            top: 250px;
            width: 100%;
        }
    }

    .navigation {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $primary;
        font-size: 75px;
        font-weight: bold;
        background: none;
        outline: none;
        padding: 0 5px;
        opacity: .25;
        transition: .5s;

        &:active {
            opacity: 1;
        }
    }
}

// Mobile first

@media only screen and (min-width: 360px) {

    .carrusel {
    
        .fecha {
    
            .imagen {
                width: 275px;
                height: 275px;
            }

            .titulo {
                top: 300px;
            }
        }
    
        .navigation {
            padding: 0 15px;
        }
    }
}

// Landscape

@media only screen and (orientation: landscape) {
    .carrusel {
        margin: 50px 0 100px;
    }
}