<ion-content>
  <section id="inicio">

    <!-- Portada -->
    <div class="portada">
        <img class="titulo" src="assets/img/titulo.svg" alt="">
    </div>
    
    <div class="relative">

      <img class="pagina-rota" src="assets/img/pagina-rota.png" alt="">

      <div class="contenedor">

        <!-- Buscador -->
        <div class="buscador cerrado">
          <input type="text" class="entrada">
          <div class="mango"></div>
          <div class="cierre">×</div>
        </div>

        <!-- Fechas -->
        <a class="fecha" [routerLink]="['/informacion', fecha.id]" *ngFor="let fecha of fechas">
          <div class="imagen" [style.backgroundImage]="'url(http://sententiapp.iatext.ulpgc.es' + fecha.imagen + ')'"></div>
          <div>
            <div class="etiqueta">{{ fecha.etiqueta }}</div>
            <div class="dia">2 de octubre</div>
          </div>
        </a>
      </div>
      <div class="ruido"></div>
    </div>
  </section>
</ion-content>
