<ion-content>
  <section id="inicio">

    <div style="display: flex; justify-content: space-between; flex-direction: column; min-height: 100vh">

      <div>

        <!-- ──────────────── -->
        <!--     CABECERA     -->
        <!-- ──────────────── -->

        <div class="portada">
            <img class="logotipo" src="assets/img/logotipo.svg" alt="">
        </div>

        <!-- ────────────── -->
        <!--     CUERPO     -->
        <!-- ────────────── -->
      
        <div class="relative">

          <div class="contenedor">

            <!-- Buscador -->
            <div class="buscador cerrado">
              <input type="text" class="entrada">
              <div class="mango"></div>
              <div class="cierre">×</div>
            </div>

            <!-- Filtro de categorías -->
            <ion-slides class="filtro" [options]="configuracion">
              <ion-slide class="item" *ngFor="let categoria of categorias; index as i" [ngClass]="{ 'seleccionado' : i == 0 }" (click)="cambiarCategoria( categoria )">
                {{ categoria.categoria }}
              </ion-slide>
            </ion-slides>

            <!-- Logo IATEXT -->
            <a href="https://iatext.ulpgc.es" target="_blank">
              <img class="logo-iatext" src="assets/img/logo-iatext.svg" alt="">
            </a>

            <!-- Fechas -->
            <a class="fecha" (click)="seleccionarFecha( fecha )" *ngFor="let fecha of fechas" [style.backgroundImage]="'url(' + ( fecha.imagen | imagenDefecto ) + ')'">
              <div class="imagen" [style.backgroundImage]="'url(' + ( fecha.imagen | imagenDefecto ) + ')'"></div>
              <div>
                <div class="etiqueta">{{ fecha.etiqueta }}</div>
                <div class="dia">{{ fecha.dia }}</div>
              </div>
            </a>
          </div>
        </div>
      </div>
      
      <!-- ────────────── -->
      <!--     FOOTER     -->
      <!-- ────────────── -->
      
      <div>
        <img class="pagina-rota" src="assets/img/pagina-rota.png" alt="">
        <app-footer></app-footer>
      </div>
    </div>
  </section>

  <!-- Notificaciones -->
  <div class="notificacion-usuario">
    <i class="icono fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i>
    <div class="mensaje"></div>
    <div class="raya"></div>
  </div>

</ion-content>
