// Colores
$text        : rgb(50,50,50);
$primary     : rgb(225,165,075);
$darkprimary : rgb(175,115,025);
$lightprimary: rgb(255,195,105);
$lightgray   : rgb(225,225,225);

// Dimensiones
$mobile: 468px;
$tablet: 768px;

.logo-iatext {
  margin: -25px 10px 10px;
  width: 50px;
}