// Colores
$text        : rgb(50,50,50);
$primary     : rgb(225,165,075);
$darkprimary : rgb(175,115,025);
$lightprimary: rgb(255,195,105);

.sentencia {
    border: 1px solid rgb(235,235,235);
    border-radius: 2px;
    outline: none;
    padding: 15px 25px;
    margin-bottom: 15px;
    position: relative;
    // z-index: 25;
    
    // Extractos

    .extracto {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: $text;
        font-size: 13px;
        font-family: 'Lato', sans-serif;
        text-align: left;
        line-height: 25px;
        padding: 0 5px;

        .idioma {
            color: rgb(235,235,235);
            font-weight: normal;
            white-space: nowrap;
        }
    }

    // Flechas

    .flecha {
        color: rgb(235,235,235);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &.derecha {
            right: 5px;
        }

        &.izquierda {
            left: 5px;
        }
    }

    // Footer

    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $primary;
        border-top: 1px solid rgb(235,235,235);
        padding: 10px 5px 0;
        margin-top: 7px;

        .autor {
            font-size: 11px;
            font-family: 'Lato', sans-serif;
            white-space: nowrap;
        }

        .iconos {
            display: flex;
            align-items: center;

            .icono {
                transition: .5s;

                &:active {
                    color: $darkprimary;
                }

                &:first-child {
                    margin-right: 10px;
                }
            }
        }
    }

    // Estados

    .estados {
        display: none;
        background: white;
        border: 1px solid rgb(235,235,235);
        border-radius: 2px;
        box-shadow: 2px 2px 5px rgb(235,235,235);
        padding: 10px 15px;
        position: absolute;
        right: 2px;
        bottom: -35px;
        z-index: 50;

        .icono {
            color: $primary;
            margin-right: 10px;

            &:last-child {
                margin: 0;
            }
        }

        &::after {
            content: "";
            background: white;
            box-shadow: -1px -1px 0 0 rgb(235,235,235);
            position: absolute;
            top: -5px;
            left: 50%;
            width: 10px;
            height: 10px;
            transform: translateX(-50%) rotate(45deg);
        }
    }

    &:last-child {
        margin: 0 0 25px;
    }
}