<h2 *ngIf="sentencias.length">Sentencias</h2>

<div class="sentencia" *ngFor="let sentencia of traducciones">
  <ion-slides pager="true" [options]="configuracion">
      <ion-slide class="extracto" *ngIf="sentencia.extractolatino.length">
        {{ sentencia.extractolatino }}
      </ion-slide>
      <ion-slide class="extracto" *ngIf="sentencia.extractoespanol.length">
        <span>{{ sentencia.extractoespanol }}&nbsp;<b class="idioma">[ es ]</b></span>
      </ion-slide>
      <ion-slide class="extracto" *ngIf="sentencia.extractoingles.length">
        <span>{{ sentencia.extractoingles }}&nbsp;<b class="idioma">[ en ]</b></span>
      </ion-slide>
    </ion-slides>
    <div class="autor">{{ sentencia.autor }}</div>
    <div class="saber-mas" (click)="abrirMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
</div>
