// Colores
$text        : rgb(50,50,50);
$primary     : rgb(225,165,075);
$darkprimary : rgb(175,115,025);
$lightprimary: rgb(255,195,105);
$lightgray   : rgb(225,225,225);

// Dimensiones
$mobile: 468px;
$tablet: 768px;

.sentencia {
    border: 1px solid $lightgray;
    border-radius: 2px;
    outline: none;
    padding: 15px 25px;
    margin-bottom: 15px;
    position: relative;
    // z-index: 25;
    
    // Extractos

    .extracto {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: $text;
        font-size: 13px;
        text-align: left;
        line-height: 25px;
        padding: 0 5px;

        .idioma {
            color: $lightgray;
            font-weight: normal;
            white-space: nowrap;
        }
    }

    // Flechas

    .flecha {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $lightgray;
        position: absolute;
        top: 0;
        bottom: 0;

        &.derecha {
            padding-right: 5px;
            right: 0;
        }

        &.izquierda {
            padding-left: 5px;
            left: 0;
        }
    }

    // Footer

    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $primary;
        border-top: 1px solid $lightgray;
        padding: 10px 5px 0;
        margin-top: 7px;

        .autor {
            font-size: 11px;
            white-space: nowrap;
            line-height: 15px;
        }

        .iconos {
            display: flex;
            align-items: center;
            
            .icono {
                transition: .5s;

                &:active {
                    color: $darkprimary;
                }
            }
        }
    }

    // Reacciones

    .reacciones {
        line-height: 15px;
        margin-right: 15px;

        .icono {
            color: $primary;
            margin: 0 5px;
        }

        .recuento {
            color: $text;
            font-size: 8px;
            position: relative;
            top: 5px;
        }

        &::after {
            content: '';
            display: inline-block;
            background: $lightgray;
            margin-left: 10px;
            width: 1px;
            height: 10px;
        }
    }

    &:last-child {
        margin: 0 0 25px;
    }
}

// Mobile First

@media only screen and (min-width: $tablet) {

    .sentencia {

        .extracto {
            font-size: 15px;
            line-height: 30px;
        }

        .footer {

            .autor {
                font-size: 13px;
            }

            .iconos {
                font-size: 20px;
            }
        }
    }
}