.sentencia {
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(225,225,225);
    padding: 15px 25px;
    margin: 0 0 10px;
    position: relative;
    overflow: hidden;
    
    .extracto {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: gray;
        font-size: 12px;
        text-align: left;
        line-height: 20px;

        .idioma {
            font-weight: lighter;
            white-space: nowrap;
            opacity: .5;
        }
    }

    .autor {
        font-size: 8px;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        border-top: 1px solid rgb(225,225,225);
        letter-spacing: 2px;
        padding-top: 10px;
        margin-top: 7px;
        opacity: .75;
    }

    .saber-mas {
        color: gray;
        position: absolute;
        top: 0px;
        right: -15px;
        z-index: 25;
        
    }

    &:last-child {
        margin: 0;
    }
}

.ios .sentencia .saber-mas {
    transform: rotate(90deg) !important;
}