<h2 *ngIf="sentencias.length">Sentencias</h2>

<div class="sentencia" *ngFor="let sentencia of sentencias; let i = index">

  <!-- Carrusel de extractos -->
  <ion-slides [options]="configuracion">
    <ion-slide class="extracto" *ngIf="sentencia.extractolatino.length">
      {{ sentencia.extractolatino }}
    </ion-slide>
    <ion-slide class="extracto" *ngIf="sentencia.extractoespanol.length">
      <span>{{ sentencia.extractoespanol }}&nbsp;<b class="idioma">[ es ]</b></span>
    </ion-slide>
    <ion-slide class="extracto" *ngIf="sentencia.extractoingles.length">
      <span>{{ sentencia.extractoingles }}&nbsp;<b class="idioma">[ en ]</b></span>
    </ion-slide>
  </ion-slides>

  <!-- Flechas -->
  <i class="flecha derecha fa fa-angle-right"  aria-hidden="true"></i>
  <i class="flecha izquierda fa fa-angle-left" aria-hidden="true"></i>
    
  <!-- Footer -->
  <div class="footer">

    <!-- Autor -->
    <div class="autor">{{ sentencia.autor }}</div>
    <div class="iconos">

      <!-- Estados -->
      <div class="estados">
        <i class="icono fa fa-thumbs-o-up"           *ngIf="sentencia.reaccion != 'Me gusta'   " (click)="guardarFavorito  ( sentencia, 'Me gusta' )"></i>
        <i class="icono negro fa fa-thumbs-o-up"     *ngIf="sentencia.reaccion == 'Me gusta'   " (click)="eliminarFavorito ( sentencia )"></i>
        <i class="icono fa fa-heart-o"               *ngIf="sentencia.reaccion != 'Me encanta' " (click)="guardarFavorito  ( sentencia, 'Me encanta' )"></i>
        <i class="icono negro fa fa-heart-o"         *ngIf="sentencia.reaccion == 'Me encanta' " (click)="eliminarFavorito ( sentencia )"></i>
        <i class="icono fa fa-hand-scissors-o"       *ngIf="sentencia.reaccion != 'Me divierte'" (click)="guardarFavorito  ( sentencia, 'Me divierte' )"></i>
        <i class="icono negro fa fa-hand-scissors-o" *ngIf="sentencia.reaccion == 'Me divierte'" (click)="eliminarFavorito ( sentencia )"></i>
        <i class="icono fa fa-thumbs-o-down"         *ngIf="sentencia.reaccion != 'No me gusta'" (click)="guardarFavorito  ( sentencia, 'No me gusta' )"></i>
        <i class="icono negro fa fa-thumbs-o-down"   *ngIf="sentencia.reaccion == 'No me gusta'" (click)="eliminarFavorito ( sentencia )"></i>
      </div>

      <!-- Compartir -->
      <i class="icono fa fa-paper-plane-o" aria-hidden="true" (click)="compartir( sentencia )"></i>
    </div>
  </div>
</div>
