<ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Volver"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

<ion-content>

  <!-- <section id="header" [style.backgroundImage]="'url(' + categoria.imagen + ')'"></section> -->

  <div *ngFor="let categoria of categorias; let i = index">
    <section id="header" [style.backgroundImage]="'url(' + categoria.imagen + ')'" *ngIf="i == posicion">
      <button>
        <ion-icon name="add"></ion-icon>
      </button>
    </section>

    <div class="contenedor" *ngIf="i == posicion">
      <h1>{{ categoria.titulo }}</h1>
      <h2>Introducción</h2>
      <p>{{ categoria.introduccion }}</p>
    </div>
  </div>

</ion-content>
