@import './../../global.scss';

#header {
    background-color: $primary;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    box-shadow: inset 0 10px 100px black;
    position: relative;
    height: 250px;

    .ver-sentencias {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 40px;
        font-weight: 900;
        text-decoration: none;
        background: $primary;
        background: linear-gradient(to right, $primary, rgb(235,190,125));
        border-radius: 50%;
        outline: none;
        position: absolute;
        bottom: -35px;
        right: 35px;
        width: 70px;
        height: 70px;
    }
}
