<ion-content fullscreen="true">

  <!-- Cabecera -->
  <section id="header" [style.backgroundImage]="'url(' + categoria.imagen + ')'">
    <a class="volver" [routerLink]="['/home']">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
    </a>
    <a class="ver-sentencias" [routerLink]="['/sentencias', categoria.id]">+</a>
  </section>

  <!-- Información -->
  <div class="contenedor">
    <h1>{{ categoria.titulo }}</h1>
    <h2>Introducción</h2>
    <p>{{ categoria.informacion }}</p>
  </div>

  <!-- Otras fechas -->
  <div class="contenedor">
    <h2>Otras fechas</h2>
    <div class="otras-fechas">
      <div class="fecha" *ngFor="let otraFecha of otrasFechas; let i = index">
        <a [routerLink]="['/informacion', otraFecha.id]">
          <span class="thumbnail" [style.backgroundImage]="'url(' + otraFecha.imagen + ')'"></span>
        </a>
        <span class="title">{{ otraFecha.titulo }}</span>
      </div>
    </div>
  </div>

  <section id="footer">
    <p class="copyright">&copy; SententiApp</p>
  </section>

</ion-content>
