// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// Colores
$text        : rgb(50,50,50);
$primary     : rgb(225,165,075);
$darkprimary : rgb(175,115,025);
$lightprimary: rgb(255,195,105);

// Dimensiones
$mobile: 468px;
$tablet: 768px;

// Scroll

::-webkit-scrollbar { width: 0 }

// ─────────────── //
//     GENERAL     //
// ─────────────── //

body {
    font-family: 'Lato', sans-serif;
}

// Headings

h1 {
    color: $text;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    line-height: 40px;
    margin: 0;
    transform: rotateX(20deg);
}

h2 {
    color: $text;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 25px;
}

p {
    color: gray;
    font-size: 15px;
    line-height: 30px;
    margin: 0 0 30px;
}

// Utils

// .contenedor {
//     padding: 0 30px;
// }

.hidden {
    display: none !important;
}

// Header

#header {
    .volver {
        color: white;
        font-size: 45px;
        font-weight: bold;
        background: none;
        outline: none;
        position: absolute;
        top: 18px;
        left: 25px;
    }
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    width: 100%;
    height: 40px;

    .copyright {
        color: $text;
        font-size: 8px;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 5px;
    }
}

// ───────────── //
//     UTILS     //
// ───────────── //

.ruido,
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.contenedor {
    margin: 0 auto;
    max-width: 400px;
}

// Mobile First

@media only screen and (min-width: $tablet) {
    .contenedor {
        max-width: 650px;
    }
}

// ─────────────── //
//     PORTADA     //
// ─────────────── //

#portada {
    background: linear-gradient(45deg, $primary 20%, $lightprimary 55%);
    padding: 50px 25px;
    position: relative;
    min-height: 100vh;

    // Buscador

    .buscador {
        border: 4px solid white;
        border-radius: 50%;
        outline: none;
        margin-left: auto;
        margin-bottom: 50px;
        position: relative;
        z-index: 25;
        width: 30px;
        height: 30px;
        opacity: .6;
        cursor: pointer;

        .mango {
            background: white;
            width: 15px;
            height: 4px;
            position: absolute;
            bottom: -5px;
            right: -10px;
            transform: rotateZ(45deg);
        }

        .cierre {
            display: none;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 40px;
            position: absolute;
            top: 0;
            right: 10px;
            z-index: 50;
            height: 100%;
            transition: .25s ease-in;
            cursor: pointer;

            &:hover {
                transform: rotateZ(180deg);
            }
        }

        .entrada {
            display: none;
            color: white;
            font-size: 12px;
            line-height: 20px;
            background: transparent;
            border: none;
            outline: none;
            padding: 0 45px 0 15px;
            width: 100%;
            height: 100%;
        }
    }

    // Fechas

    .fecha {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-decoration: none;
        background: rgba(255,255,255,.25);
        border-radius: 2px;
        box-shadow: 1px 1px 5px $darkprimary;
        outline: none;
        padding: 15px 25px;
        margin-bottom: 15px;
        position: relative;
        z-index: 25;

        .imagen {
            flex-shrink: 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 50%;
            margin-right: 25px;
            width: 50px;
            height: 50px;
        }

        .titulo {
            color: white;
            font-size: 10px;
            text-align: left;
            line-height: 15px;
        }

        &:last-child {
            margin: 0;
        }
    }

    .ruido {
        background: url('src/assets/img/ruido.png') repeat center;
        background-size: 100px;
    }
}

// Mobile First

@media only screen and (min-width: $mobile) {
    #portada .fecha .titulo {
        font-size: 12px;
        line-height: 20px;
    }
}

@media only screen and (min-width: $tablet) {
    #portada {

        .buscador.cerrado {
            transition: opacity .25s;

            &:hover {
                opacity: 1;
            }
        }

        .fecha {
            transition: .25s ease-in;
    
            &:hover {
                transform: scale(1.025);
            }
        }
    }
}

// ─────────────────── //
//     INFORMACIÓN     //
// ─────────────────── //

#informacion {

    .contenedor {
        padding: 0 25px;
    }

    .cabecera {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: inset 0 -50px 100px black;
        margin-bottom: 50px;
        position: relative;
        height: 225px;

        .pagina-rota {
            position: absolute;
            left: 0;
            bottom: -1px;
            z-index: 100;
            width: 100%;
        }

        .volver {
            color: white;
            position: absolute;
            
            &.volver-atras {
                font-size: 50px;
                font-weight: bold;
                top: 10px;
                left: 25px;
            }
            
            &.volver-inicio {
                font-size: 35px;
                top: 20px;
                right: 25px;
            }
        }
    }

    .slider {

        .slide {
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            text-decoration: none;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 2px;
            outline: none;
            padding: 10px;
            position: relative;
            height: 115px;
            cursor: pointer;
    
            .caption {
                color: white;
                font-size: 10px;
                text-align: left;
                line-height: 15px;
                position: relative;
                z-index: 25;
            }
    
            &::after {
                content: "";
                display: block;
                background: linear-gradient(transparent, rgba(0,0,0,.75));
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
            }
        }
    }

    .titulo {
        margin: 0 0 25px;
    }

    .descripcion {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 25px;
    }

    .sentencias {
        list-style: none;
        padding: 0;
        margin: -8px 0;
    
        .sentencia {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: gray;
            font-size: 12px;
            line-height: 20px;
            border-bottom: 1px solid rgb(235,235,235);
            padding: 8px 15px 8px 5px;
            margin: 0;
            position: relative;
            cursor: pointer;

            .flecha {
                color: $text;
                position: absolute;
                right: 5px;
                top: 50%;
                transform: translateY(-50%);
            }

            &:last-child {
                border-bottom: none;
                margin-bottom: 25px;
            }
        }
    }
}

// Mobile First

@media only screen and (min-width: $mobile) {
    #informacion {

        .cabecera {
            height: 350px;
        }

        .descripcion {
            font-size: 12px;
            line-height: 20px;
        }
    }
}

@media only screen and (min-width: $tablet) {
    
    #informacion {

        .cabecera {
            height: 500px;

            .volver {
                opacity: .5;
                transition: .25s;
        
                &:hover {
                    opacity: 1
                }
            }
        }
    }
}

// ─────────────── //
//     PORTADA     //
// ─────────────── //

// Versión 2

// #portada {
//     display: flex;
//     align-items: flex-end;
//     justify-content: center;
//     padding: 50px 25px;

//     &.fondo {
//         background: black;
//         position: relative;
//         width: 100%;
//         min-height: 100vh;
        
//         .overlay {
//             background-position: center;
//             background-repeat: no-repeat;
//             background-size: cover;
//             transition: .5s ease-in;
//             filter: blur(5px);

//             &::after {
//                 content: "";
//                 background: linear-gradient(45deg, black, transparent);
//                 position: absolute;
//                 top: 0;
//                 left: 0;
//                 right: 0;
//                 bottom: 0;
//                 width: 100%;
//                 min-height: 100vh;
//                 opacity: .75;
//             }
//         }
    
//         &::after {
//             display: none;
//             content: "";
//             background: url('src/assets/img/ruido.png') repeat;
//             background-size: contain;
//             position: absolute;
//             top: 0;
//             left: 0;
//             right: 0;
//             bottom: 0;
//             width: 100%;
//             min-height: 100vh;
//             opacity: .95;
//         }
//     }

//     .recuadro {
//         background: white;
//         border-radius: 5px;
//         box-shadow: 0 30px 45px rgba(0,0,0,.75);
//         padding: 0 20px 25px;
//         margin-top: 115px;
//         position: relative;
//         z-index: 50;
//         width: 100%;
//         max-width: 350px;
//         height: 500px;

//         .fecha {
//             text-align: center;

//             .imagen {
//                 background-size: cover;
//                 border-radius: 5px;
//                 box-shadow: 0 45px 35px -35px black;
//                 margin-top: -115px;
//                 margin-bottom: 30px;
//                 position: relative;
//                 width: 100%;
//                 height: 300px;
//             }

//             .titulo {
//                 display: block;
//                 color: rgb(40,40,40);
//                 font-size: 20px;
//                 font-weight: 500;
//                 font-family: 'Abril Fatface', cursive;
//                 font-family: 'Comfortaa', cursive;
//                 text-transform: none;
//                 line-height: 30px;
//                 margin: 0 auto;
//                 max-width: 250px;
//             }

//             .fecha {
//                 color: $text;
//                 font-weight: 900;
//                 font-family: 'Playfair Display', serif;
//                 text-transform: uppercase;
//                 line-height: 35px;
//             }
//         }
//     }
// }
