// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// Colores
$text        : rgb(50,50,50);
$primary     : rgb(225,165,075);
$darkprimary : rgb(175,115,025);
$lightprimary: rgb(255,195,105);
$lightgray   : rgb(225,225,225);

// Dimensiones
$mobile: 468px;
$tablet: 768px;

// Scroll

::-webkit-scrollbar { width: 0 }

// ─────────────── //
//     GENERAL     //
// ─────────────── //

body {
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    line-height: 25px;
}

h1 {
    color: $text;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    line-height: 40px;
    margin: 0;
    transform: rotateX(20deg);
}

h2 {
    color: $text;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin: 0 0 25px;
}

p {
    color: gray;
    font-size: 15px;
    line-height: 30px;
    margin: 0 0 30px;
}

// Mobile First

@media only screen and (min-width: $tablet) {
    body {
        font-size: 15px;
        line-height: 30px;
    }
}

// ───────────── //
//     UTILS     //
// ───────────── //

.titulo {
    margin: 0 0 25px;
}

.ruido,
.overlay,
.imagen-difuminada {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.contenedor {
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
}

.relative {
    position: relative;
}

// Padding

.pt-0 { padding-top:    0 !important }
.pb-0 { padding-bottom: 0 !important }

// Margin

.mr-15 { margin-right: 15px !important }

// Filtro
    
.filtro {
    margin-bottom: 35px;

    .item {
        color: $text;
        font-size: 13px;
        font-family: 'Lato', sans-serif;
        line-height: 25px;
        text-transform: none;
        border-top: 1px solid rgba(50,50,50,.1);
        border-bottom: 1px solid rgba(50,50,50,.1);
        line-height: 20px;
        padding: 10px 25px;
        width: fit-content;

        &.seleccionado {
            color: $primary;
        }
    }

    &.negro .item {
        color: $text;
        border-top: 1px solid rgba(50,50,50,.1);
        border-bottom: 1px solid rgba(50,50,50,.1);

        &.seleccionado {
            color: $primary;
        }
    }
}

// Mobile First

@media only screen and (min-width: $tablet) {

    .contenedor {
        max-width: 650px;
    }

    // Filtro
    .filtro .item {
        font-size: 15px;
    }
}

// ─────────────────── //
//     ADVERTENCIA     //
// ─────────────────── //

#advertencia {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    line-height: 25px;
    padding: 50px 50px 100px;
    width: 100%;
    min-height: 100vh;

    .logo {
        display: block;
        margin: 0 auto 40px;
        width: 125px;
        height: auto;
    }
    
    .texto {
        color: $primary;
        text-align: justify;
        text-align-last: center;
        margin: 0 auto;
        width: 100%;
        max-width: 295px;
    }

    .notificacion {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: justify;
        border: 1px solid $primary;
        border-radius: 2px;
        padding: 10px 10px 10px 0;
        margin: 25px auto 0;
        max-width: 300px;
        width: 100%;
        position: relative;

        .icono {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $primary;
            font-size: 25px;
            width: 70px;
            height: 100%;
        }

        .texto {
            line-height: 20px;
            text-align: left;
            text-align-last: left;
        }

        &::before {
            content: '';
            display: block;
            background: $primary;
            position: absolute;
            left: 0;
            width: 4px;
            height: 100%;
        }
    }

    .boton {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $primary;
        background: white;
        text-decoration: none;
        border-top: 1px solid rgba(225,165,075,.25);
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50px;

        &:focus {
            color: white;
            background: $primary;
        }
    }
}

// Mobile First

@media only screen and (min-width: $tablet) {

    #advertencia {
        font-size: 15px;
        line-height: 30px;
    }
}

// ────────────── //
//     INICIO     //
// ────────────── //

#inicio {
    position: relative;
    min-height: 100vh;

    .recuento {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: $text;
        font-size: 10px;
        font-family: 'Lato', sans-serif;
        text-align: right;
        padding: 0 8px 8px;
        line-height: 10px;
    }

    .contenedor {
        padding: 35px 25px;
    }

    .ruido {
        background: url('src/assets/img/ruido.png') repeat center;
        background-size: 100px;
    }

    .pagina-rota {
        position: relative;
        top: 12px;
        z-index: 25;
        width: 100%;
        
        &.volteo-vertical {
            top: -1px;
            transform: rotateZ(180deg);
        }
    }

    // Portada

    .portada {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: white;
        padding: 50px 35px 0;
        position: relative;
        z-index: 25;

        .logotipo {
            width: 100%;
            max-width: 450px;
        }
    }

    // Buscador

    .buscador {
        border: 4px solid $lightprimary;
        border-radius: 50%;
        outline: none;
        margin: 0 auto 35px;
        position: relative;
        z-index: 25;
        width: 30px;
        height: 30px;
        opacity: .5;

        .mango {
            background: $lightprimary;
            width: 15px;
            height: 4px;
            position: absolute;
            bottom: -5px;
            right: -10px;
            transform: rotateZ(45deg);
        }

        /*
        .buscador {
            border: 4px solid $lightprimary;
            border-radius: 50%;
            outline: none;
            margin: 0 auto 35px;
            position: relative;
            z-index: 25;
            width: 30px;
            height: 30px;
            opacity: .5;
            transition: .5s;

            &.cerrado { width: 30px; cursor: pointer }
            &.abierto { width: 100%; cursor: initial }

            .mango {
                background: $lightprimary;
                width: 15px;
                height: 4px;
                position: absolute;
                bottom: -5px;
                right: -10px;
                transform: rotateZ(45deg);
                transition: .25s;
            }
        */

        .cierre {
            display: none;
            align-items: center;
            justify-content: center;
            color: $lightprimary;
            font-size: 40px;
            position: absolute;
            top: 0;
            right: 10px;
            z-index: 50;
            height: 100%;
        }

        .entrada {
            display: none;
            color: $text;
            font-size: 13px;
            font-family: 'Lato', sans-serif;
            line-height: 25px;
            background: transparent;
            border: none;
            outline: none;
            padding: 0 45px 0 15px;
            width: 100%;
            height: 100%;
        }
    }

    // Fechas

    .fecha {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        text-decoration: none;
        border-radius: 2px;
        outline: none;
        padding: 15px 25px;
        margin-bottom: 15px;
        position: relative;
        z-index: 25;

        .imagen {
            flex-shrink: 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 50%;
            margin-right: 25px;
            position: relative;
            z-index: 50;
            width: 50px;
            height: 50px;
        }

        .etiqueta {
            color: white;
            font-size: 13px;
            font-family: 'Lato', sans-serif;
            text-align: left;
            line-height: 20px;
            position: relative;
            z-index: 50;
        }

        .dia {
            color: $lightprimary;
            font-size: 10px;
            line-height: 15px;
            margin-top: 5px;
            position: relative;
            z-index: 50;
            opacity: .75;
        }

        &:last-child {
            margin: 0;
        }

        &::after {
            content: '';
            background: linear-gradient(transparent, rgba(0,0,0,.75));
            border-radius: 2px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 25;
        }
    }
}

// Mobile First

@media only screen and (min-width: $tablet) {
    #inicio {

        .buscador {
            // margin-right: 0;
            cursor: pointer;
        
            &.cerrado {
                transition: opacity .25s;

                &:hover {
                    opacity: 1;
                }
            }

            .cierre {
                transition: .25s ease-in;
                cursor: pointer;

                &:hover {
                    transform: rotateZ(180deg);
                }
            }
        }

        .fecha {
            transition: .25s ease-in;

            .etiqueta {
                font-size: 15px;
            }

            &:hover {
                transform: scale(1.025);
            }
        }
    }
}

// ───────────────── //
//     FAVORITOS     //
// ───────────────── //

#favoritos {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;

    .contenedor {
        padding: 35px 25px;
    }

    .sin-favoritos {
        color: $text;
        font-size: 13px;
        font-family: 'Lato', sans-serif;
        text-align: center;
        line-height: 25px;
    }
}

// ─────────────────── //
//     INFORMACIÓN     //
// ─────────────────── //

#informacion {

    .contenedor {
        padding: 0 25px 25px;
    }

    .cabecera {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: inset 0 -50px 100px black;
        margin-bottom: 50px;
        position: relative;
        height: 225px;

        .pagina-rota {
            position: absolute;
            left: 0;
            bottom: -1px;
            z-index: 75;
            width: 100%;
        }
    }

    .descripcion {
        font-size: 13px;
        font-family: 'Lato', sans-serif;
        line-height: 25px;
        margin-bottom: 25px;
    }

    .pagina-rota {
        width: 100%;
    }
}

// Mobile First

@media only screen and (min-width: $mobile) {
    #informacion {

        .contenedor {
            padding: 0 25px 50px;
        }
        
        .cabecera {
            height: 350px;
        }
    }
}

@media only screen and (min-width: $tablet) {
    
    #informacion {

        .cabecera {
            height: 500px;
        }

        .descripcion {
            font-size: 15px;
            line-height: 30px;
        }
    }
}

// ────────────────────── //
//     NOTIFICACIONES     //
// ────────────────────── //

.notificacion-usuario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: white;
    border: 1px solid $lightgray;
    border-bottom: none;
    border-radius: 4px;
    box-shadow: 0 10px 20px -15px black;
    padding: 20px 25px 20px 70px;
    margin: auto;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 500;
    max-width: 300px;
    height: auto;
    min-height: 75px;
    opacity: 0;
    overflow: hidden;
    transition: .15s ease-in-out;

    .icono {
        font-size: 18px;
        color: rgba(255,255,255,.9);
        background: tomato;
        border-radius: 50%;
        line-height: 35px;
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
    }

    .mensaje {
        color: $text;
        line-height: 20px;
    }

    .raya {
        background: tomato;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 4px;
        transition: 2.5s ease-in-out;
    }
}